-e .

-r doc/requirements.txt

# Deployment
# ------------------------------------------------------------------------------
bumpversion==0.5.3                            # https://github.com/peritus/bumpversion
twine                                         # https://github.com/pypa/twine/
tox                                           # https://github.com/tox-dev/to
wheel                                         # https://github.com/pypa/wheel

# Development
# ------------------------------------------------------------------------------
autopep8                                      # https://github.com/hhatto/autopep8
flake8                                        # https://github.com/PyCQA/flake8
pycodestyle                                   # https://github.com/PyCQA/pycodestyle
mypy                                          # https://github.com/python/mypy

# Testing
# ------------------------------------------------------------------------------
nose2>=0.6.5                                  # https://github.com/nose-devs/nose2
nose2[coverage_plugin]>=0.6.5
